/**----------------------------------------------
 * ?                    ABOUT
 * @author      : Antonio Jesús Heredia Leiva
 * @email       : 
 * @repo        : 
 * @createdOn   : 
 * @description : Página Halloween
 *---------------------------------------------**/


 /*---------------------------- external font ----------------------------*/
 
 @font-face {
    font-family: terror;
    src: url(../fonts/Unthinkers.otf);
       
 }
 @font-face {
    font-family: anika;
    src: url(../fonts/ARUNIKA.otf);
 }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100wh;
    background-color: black;
}

.controls {
    text-align: center;
}

#scenario {
    top: 50px;
    margin: 0 auto;
    background-image: url(../img/layers-of-fear-wallpapers.jpg);
    width: 1497px;
    height: 600px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#door {
    position: relative;
    top: 34%;
    left: 47.8%;
    width: 60px;
    height: 160px;
    /* border: 2px solid purple; */
}


#flautilla {
    position: absolute;
    top: 200px;
    width: 200px;
    height: 200px;
    left: 630px;
    visibility: hidden;
}
/* MANOS */

.hands {
    display: none;
    position: absolute;
}
#hand_1 {
    top: 300px;
    width: 200px;
    height: 200px;
    left: 800px;
}
#hand_3 {
    top: 300px;
    width: 200px;
    height: 200px;
    right: 100px;
}
#hand_4 {
    top: 250px;
    width: 200px;
    height: 200px;
    right: 100px;
}

#spider {
    position: absolute;
    width: 60px;
    height: 50px;
    bottom: 80px;
    left: 700px;
    visibility: hidden;
}
#floor {
    position: absolute;
    top: 70%;
    left: 47.8%;
    width: 60px;
    height: 160px;
    /* border: 2px solid purple; */
}

/* LAMPARA */
#techo {
    position: absolute;
    top: 30px;
    left: 47.4%;
    width: 60px;
    height: 50px;
    /* border: 2px solid purple; */
}
#lamp {
    opacity: 80%;
    position: absolute;
    top: -90px;
    left: 580px;
    width: 318px;
    height: 230px;
    visibility: hidden;
}



audio {
    opacity: 30%;
    height: 13px;
    display: inline;

}

/* ANIMACIONES Y TEXTOS */
.start {
    display: inline;
    color: aliceblue;
    font-family: anika;
    font-size: 30px;

}
#turn_on {
    font-family: terror;
    color: yellow;
    font-size: 20px;
    position: absolute;
    top: -50px;
    left: 800px;


}
.look {
    display: none;
}

#saludo {
    font-family: terror;
    color: aliceblue;
    opacity: 50%;
    animation-name: saludo;
    animation-duration: 5s;
    position: absolute;
    text-align: center;
    left: 630px;
    
}

@keyframes saludo {
    from {
        opacity: 0;
        left: 0;
    }
    to {
        color: brown;
        opacity: 1;
        left: 630px;
    }
}

