/**------------------------------------------------------------------------
 * ?                                ABOUT
 * @author         :  Antonio J Heredia Leiva
 * @email          :  
 * @repo           :  
 * @createdOn      :  October 17 in 2023
 * @description    :  trabajo de leguajes de marca
 *------------------------------------------------------------------------**/

 @font-face {
   font-family: title;
   src: url(../fonts/PlaypenSans-Regular.ttf);
 }
 @font-face {
   font-family: normally;
   src: url(../fonts/Roboto-Light.ttf);
 }
 
 * {
   box-sizing: border-box;
 }
 
 body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2em;
    background-image: url(../images/patternDesign.jpg);
    background-size: 50%;
    font-family: normally;
 }

.resalt:hover {
  color: rosybrown;
 }
 
 #wrapper {
    width: 80%;
    margin: auto;
    padding: 2%;
    background-color: #F5DEB4;
 }
 
 #wrapper .resalt {
   font-family: title;
 }
 .center {
  text-align: center;
}

#wrapper img {
   text-align: center;
   width: 50%;
   height: 60%;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
 }
 blockquote {
   padding: 1%;
   border-left: 1px solid black ;
   font-style: italic;
   background-color: #f5deb48b;

 }
 ul{
  /* para poner un tipo de lista distinto */
  list-style-image: url(../images/cuchara-removebg-preview.png);
 }

 ol li{
  list-style: georgian;
  margin: 1.2em 0;
 }
 blockquote:hover {
   background-color: #e3b5608c;
   color: aqua;
 }
 dt {
  font-variant: small-caps;
  font-weight: bold;
 }

/* RESPONSIVIDAD */
/* VAMOS A HACER QUE EL WRAPERS PASE EL 100% DEL VW */

@media only screen and (width<700px) {
  #wrapper{
    width: 100%;
  }
  #wrapper img {
    width: 100%;

  } 
}